@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Rubik&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

:root{
    --text-color: #000000;
    --yellow: #E5F0B6;
    --dark-yellow: #817253;
    --light-brown: #553B33;
    --dark-brown: #2F241F;
    --trasparent: #E5F0B680;
}

/* header style */
header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 46px 100px;
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.02);
}

.logo {
    width: 160.98px;
    height: 48px;
}

.nav-menu {
    display: flex;
    gap: 64px;
}

.nav-menu li a {
    color: var(--text-color);
}

.nav-menu li a:hover {
    color: var(--dark-yellow);
}

.nav-button {
    display: flex;
    gap: 16px;
}

.sign-up {
    color: var(--dark-brown);
    background-color: var(--yellow);
    padding: 12px 24px;
    border-radius: 8px;
}

.note {
    background-color: var(--light-brown);
    padding: 12px;
    border-radius: 8px;
    color: #FFFFFF;
}
/* header style */
main {
   margin-top: 140px;
}
/* hero style */
.hero {
    width: 100%;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 64px;
}

.hero-text {
    margin-left: 142px;
    width: 65%;
    height: 389px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.hero-text p {
    font-weight: 800;
    font-size: 72px;
    color: var(--dark-brown);
}

.hero-text span {
    color: var(--dark-yellow);
}

.hero-text-btn {
    font-weight: 400;
    font-size: 24px;
    display: flex;
    gap: 24px;
}
.hero-text-btn bx {
    width: 24px;
}

.search-btn {
    padding: 22px 40px;
    background: var(--yellow);
    border-radius: 12px;
    color: var(--light-brown);
    display: flex;
    align-items: center;
    gap: 16px;
}

.play-btn {
    border: 1px solid #553B33;
    border-radius: 12px;
    padding: 22px 40px;
}

.hero-product {
    width: 35%;
    height: 500px;
    background-image: url(image/hero.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding-left: 48px;
    gap: 8px;
    padding-top: 250px;
}

.hero-price {
    font-size: 24px;
    color: var(--dark-brown);
    background: rgba(255, 255, 255, 0.5);
    border-radius: 12px;
    padding: 8px 16px;
}

.hero-product-name {
    font-size: 60px;
}

.view-detail {
    display: flex;
    color: #FFFFFF;
    align-items: center;
    background: var(--dark-brown);
    border-radius: 12px;
    padding: 16px 24px;
    gap: 16px;
}

/* hero style */

/* us style */
.us {
    padding: 72px 0px 72px 142px;
    background: var(--dark-brown);
    color: var(--yellow);
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-size: 24px;
}

.us h1 {
    font-weight: 700;
    font-size: 64px;
}

.us-features {
    display: flex;
    gap: 10px;
    align-items: center;
}

.us-features span {
    display: flex;
    gap: 16px;
    align-items: center;
}

.us-features div {
    gap: 16px;
    padding: 8px;
    background: rgba(229, 240, 182, 0.5);
    border-radius: 8px;
}
/* us style */

/*partnerships style */

.partner {
    height: 305px;
    background: #FCFAFA;
    padding: 80px 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.partner-text {
    display: flex;
    flex-direction: column;
}

.partner-text h1 {
    font-weight: 700;
    font-size: 96px;
}

.partner-logo {
    display: flex;
    gap: 88px;
}

.partner-logo img {
    width: 106.17px;
    height: 52px;
}
/*partnerships style */

/* recommendation style*/
 
.recommendation {
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    gap: 20px;
}

.rec-picture {
    display: flex;
    gap: 10px;
}

img .recS {
    width: 130px;
    height: 523px;
}

img .recB {
    width: 300px;
    height: 523px;
}

.rec-detail {
    width: 434px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rec-detail p {
    font-size: 24px;
}

.rec-detail h1 {
    font-weight: 700;
    font-size: 48px;
}

.categories p {
    padding: 20px 16px;
    background-color: #FCFAFA;
    font-weight: 700;
    font-size: 18px;
}

.categories p:hover {
    background-color: var(--yellow);
}
/* recommendation style*/

/* best-seller style*/

.best {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 80px 0px;
    gap: 48px;
    background: var(--dark-brown);
    color: #E5F0B6;
}

.best-header {
    padding-left: 143px;
    padding-right: 143px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.best-header-title {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.best-header-title p {
    font-size: 24px;
}

.best-header-title h1 {
    font-weight: 700;
    font-size: 48px;
}

.best-header a {
    color: var(--dark-brown);
    padding: 14px 36px;
    background: #E5F0B6;
    border-radius: 12px;
}
.best-photos {
    display: flex;
    gap: 36px;
}

.best-photos img {
    height: 400px;
    width: 300px;
    transition: 0.5s ease-in-out;
    transform-origin: top;
}

.best-photos img:hover {
    transform: scale(1.2);
    margin-left: 35px;
    margin-right: 35px;
}

.best-arr-btn {
    display: flex;
    justify-content: end;
    padding-right: 143px;
    gap: 36px;
}

.best-arr-btn .bx {
    padding: 16px;
    background: #E5F0B6;
    border-radius: 62px;
    color: var(--dark-brown);
    font-size: 24px;
}
/* best-seller style*/